openapi: 3.0.1
info:
  description: Access your employees data with the Bob API
  title: Bob API
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-uses-multipart-form-data: true
servers:
- description: Production
  url: https://api.hibob.com/v1
- description: Sandbox
  url: https://api.sandbox.hibob.com/v1
tags:
- name: People
- name: Tables
- name: Time off
- name: Payroll
- name: Metadata
- name: Documents
- name: Reports
- name: Tasks
- name: Custom Tables
- name: Onboarding
- name: Attendance
- name: Objects
paths:
  /people/search:
    post:
      description: "<b>Note:</b> Changes to this API are planned to take effect on\
        \ May 31, 2024.  Make sure to review all of the details in the <a href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working\
        \ pattern API Changes</a>  article in the help center.<br> <br>This API returns\
        \ a list of requested employees with requested fields.  The data is filtered\
        \ based on the requested fields and access level of the logged-in user.  Only\
        \ viewable categories are returned.<br /> <br><b>Note</b>: The values of the\
        \ list fields represent the list item ID and not the list item value. To obtain\
        \ the corresponding list item value, use the HiBob metadata API to determine\
        \ the field list name. Then, use the list item ID to locate the list item\
        \ value. For more information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_searchEmployees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadEmployeesRequestReference'
        description: Read request content that allows you to select fields and other
          options
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
          description: Requested employees.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Search for employees
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--people-search
      x-content-type: application/json
      x-accepts: application/json
  /people:
    get:
      deprecated: true
      description: "<b>Note:</b> Deprecated at the end of March 2024. Please use <b>/people/search</b>\
        \ (\"Search for employees\") instead. <br/><br/> This returns a list of all\
        \ active employees. The data is filtered based on the access level of the\
        \ logged-in user. Only viewable categories are returned.<br /><br> <b>Note</b>:\
        \ The values of the list fields represent the list item ID and not the list\
        \ item value. To obtain the corresponding list item value, use the HiBob metadata\
        \ API to determine the field list name. Then, use the list item ID to locate\
        \ the list item value. For more information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_listEmployees
      parameters:
      - description: Should include inactive employees.
        explode: true
        in: query
        name: showInactive
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to supply humanReadable values in JSON instead of machine-readable
          format (default).
        explode: true
        in: query
        name: humanReadable
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--people-get-parameters-1-schema
        style: form
      - description: Whether to include the additional "humanReadable" JSON node in
          the response.
        explode: true
        in: query
        name: includeHumanReadable
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--people-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
          description: All employees.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Read all company employees
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people
      x-accepts: application/json
    post:
      description: "<b>Note:</b> Changes to this API are planned to take effect on\
        \ May 31, 2024.  Make sure to review all of the details in the <a href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working\
        \ pattern API Changes</a>  article in the help center.<br> <br>This creates\
        \ a new employee record in Bob. You can include only the fields listed in\
        \ the  [Fields Metadata API](https://apidocs.hibob.com/reference/get_company-people-fields).\
        \  <br /><br><b>Note</b>"
      operationId: People_createEmployeeRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: Employee
      security:
      - Basic: []
      summary: Create company employee.
      tags:
      - People
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--people
      x-content-type: application/json
      x-accepts: application/json
  /people/{identifier}:
    get:
      deprecated: true
      description: "<b>Note:</b> Deprecated at the end of March 2024. Please use <b>POST\
        \ /people/{identifier}</b> (\"Read company employee fields by ID.\") instead.\
        \ <br/><br/> Returns the employee by the specified ID.<br /><br><b>Note</b>:\
        \ The values of the list fields represent the list item ID and not the list\
        \ item value. To obtain the corresponding list item value, use the HiBob metadata\
        \ API to determine the field list name. Then, use the list item ID to locate\
        \ the list item value. For more information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_readEmployeeById
      parameters:
      - description: employee id
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Whether to supply fields (paths) instead of empty list as a default
          in order  to not exceed data permitted.
        explode: true
        in: query
        name: fields
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to supply humanReadable values in JSON instead of machine-readable
          (default) format.
        explode: true
        in: query
        name: humanReadable
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--people-identifier-get-parameters-2-schema
        style: form
      - description: Whether to include the additional "humanReadable" JSON node in
          the response.
        explode: true
        in: query
        name: includeHumanReadable
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--people-identifier-get-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
          description: Employee
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Read company employee by ID.
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people-identifier
      x-accepts: application/json
    post:
      description: "<b>Note:</b> Changes to this API are planned to take effect on\
        \ May 31, 2024.  Make sure to review all of the details in the <a href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working\
        \ pattern API Changes</a>  article in the help center.<br> <br>Returns the\
        \ employee's fields by the specified ID or email.<br /><br><b>Note</b>: The\
        \ values of the list fields represent the list item ID and not the list item\
        \ value. To obtain the corresponding list item value, use the HiBob metadata\
        \ API to determine the field list name. Then, use the list item ID to locate\
        \ the list item value. For more information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_readEmployeeFields
      parameters:
      - description: employee ID or email
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadSingleEmployeeRequestReference'
        description: Read request content that allows you to select fields and other
          options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
          description: Employee
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Read company employee fields by employee ID.
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--people-identifier
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "<b>Note:</b> Changes to this API are planned to take effect on\
        \ May 31, 2024.  Make sure to review all of the details in the <a href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working\
        \ pattern API Changes</a>  article in the help center.<br> <br>This updates\
        \ the employee record in Bob. You can include only the fields listed in the\
        \  [Fields Metadata API](https://apidocs.hibob.com/reference/get_company-people-fields)\
        \ where historical is equal to false.  <br /><br><b>Note</b>"
      operationId: People_updateEmployeeRecord
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeopleUpdateEmployeeRecordRequest'
        description: Use Fields Metadata API for available field definitions
        required: true
      responses:
        "200":
          content: {}
          description: Employee updated successfully.
        "304":
          content: {}
          description: If employee data not modified.
      security:
      - Basic: []
      summary: Update company employee.
      tags:
      - People
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--people-identifier
      x-content-type: application/json
      x-accepts: application/json
  /employees/{identifier}/uninvite:
    post:
      operationId: People_revokeAccessToEmployee
      parameters:
      - description: employee id
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: Revoke access successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Revoke access to Bob for an employee.
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--employees-identifier-uninvite
      x-accepts: application/json
  /employees/{identifier}/terminate:
    post:
      description: This changes the employee’s status to Terminated according to specified
        termination date. <br />
      operationId: People_terminateEmployee
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: identifier
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeTermination'
        required: true
      responses:
        "200":
          content: {}
          description: Termination entry added successfully.
      security:
      - Basic: []
      summary: Terminate company employee.
      tags:
      - People
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--employees-identifier-terminate
      x-content-type: application/json
      x-accepts: application/json
  /onboarding/wizards:
    get:
      description: "Wizard info includes Wizard ID, name and description.<br /><b>Supported\
        \ user types:</b> Service."
      operationId: Onboarding_getWizardSummary
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingWizards'
          description: Onboarding Wizards
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Get a summary of all onboarding wizards.
      tags:
      - Onboarding
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--onboarding-wizards
      x-accepts: application/json
  /employees/{employeeId}/invitations:
    post:
      operationId: People_inviteEmployeeWizard
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationByWizard'
        required: true
      responses:
        "200":
          content: {}
          description: Invitation submitted successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Invite an employee with a welcome wizard ID.
      tags:
      - People
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--employees-employeeId-invitations
      x-content-type: application/json
      x-accepts: application/json
  /employees/{employeeId}/start-date:
    post:
      operationId: People_setStartDate
      parameters:
      - description: employee ID
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartDateUpdate'
        required: true
      responses:
        "200":
          content: {}
          description: Start date was set successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Set or update an employee's start date.
      tags:
      - People
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--employees-employeeId-start-date
      x-content-type: application/json
      x-accepts: application/json
  /company/reports:
    get:
      description: Returns a list of all the defined company reports. The data is
        filtered based on the access level of the user. Only viewable categories are
        returned.<br />
      operationId: Reports_listAccessibleReports
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports'
          description: Company Reports
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Read company reports
      tags:
      - Reports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-reports
      x-accepts: application/json
  /company/reports/{reportId}/download:
    get:
      description: Returns a report data file in the specified format.<br /><b>Supported
        user types:</b> Service.
      operationId: Reports_downloadById
      parameters:
      - description: Report ID
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          format: long
          type: number
        style: simple
      - description: File format
        explode: true
        in: query
        name: format
        required: true
        schema:
          enum:
          - csv
          - xlsx
          - json
          type: string
        style: form
      - description: Should include info.
        explode: true
        in: query
        name: includeInfo
        required: false
        schema:
          format: boolean
          type: boolean
        style: form
      - description: "Requested language for the report columns in the format of locale\
          \ (e.g. fr-FR). If this is not provided, the user preferences locale is\
          \ used."
        explode: true
        in: query
        name: locale
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Optional field. Only enforced when <i><b>format</b></i> is <i>json</i>.\
          \ <br> <b>If not sent:</b> supply machine-readable values only. <br> <br>\
          \ Possible values: <br>  <br> <b>APPEND</b> - include the additional \"\
          humanReadable\" JSON node in the response. <br>  <br> <b>REPLACE</b> - supply\
          \ humanReadable values in JSON instead of machine-readable format. <br>"
        explode: true
        in: query
        name: humanReadable
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsDownloadByIdResponse'
          description: Includes the report name and execution date in the report file.
            By default this is set to True.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Download the report by ID
      tags:
      - Reports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-reports-reportId-download
      x-accepts: application/json
  /company/reports/{reportId}/download-async:
    get:
      description: Returns the polling URL report file of the specified format under
        "Location" in the response header.<br />
      operationId: Reports_getDownloadUrl
      parameters:
      - description: Report id
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          format: long
          type: number
        style: simple
      - description: File format
        explode: true
        in: query
        name: format
        required: true
        schema:
          enum:
          - csv
          - xlsx
          type: string
        style: form
      - description: Should include info
        explode: true
        in: query
        name: includeInfo
        required: false
        schema:
          format: boolean
          type: boolean
        style: form
      - description: "Requested language for the report columns in the format of the\
          \ locale (e.g. fr-FR). If this is not provided, the user preferences locale\
          \ is used."
        explode: true
        in: query
        name: locale
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Optional field. Only enforced when <i><b>format</b></i> is <i>json</i>.\
          \ <br> <b>If not sent:</b> supply machine-readable values only. <br> <br>\
          \ Possible values: <br>  <br> <b>APPEND</b> - include the additional \"\
          humanReadable\" JSON node in the response. <br>  <br> <b>REPLACE</b> - supply\
          \ humanReadable values in JSON instead of machine-readable format. <br>"
        explode: true
        in: query
        name: humanReadable
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content: {}
          description: Report URL under "Location" in the response header.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Get the report download URL for polling
      tags:
      - Reports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-reports-reportId-download-async
      x-accepts: application/json
  /company/reports/download/{reportName}:
    get:
      description: "Returns the report data file when it is ready. If the file is\
        \ not ready yet the response will be 204. It will then have to try again.<br\
        \ />(This URL is the response of the previous API: https://api.hibob.com/v1/company/reports/reportId/download-async)<br\
        \ />"
      operationId: Reports_downloadReportFile
      parameters:
      - description: Report name
        explode: false
        in: path
        name: reportName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsDownloadReportFileResponse'
          description: Include the report name and execution date in the report file.
            This defaults to true.
        "204":
          content: {}
          description: "The file is not yet ready, please try again."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Download report by file URL
      tags:
      - Reports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-reports-download-reportName
      x-accepts: application/json
  /profiles:
    get:
      description: "Returns the public section of all  active employees of the logged-in\
        \ user company.<br /><br><b>Note</b>: The values of the list fields represent\
        \ the list item ID and not the list item value. To obtain the corresponding\
        \ list item value. Use the HiBob metadata API to determine the field list\
        \ name. Then, use the list item ID to locate the list item value. For more\
        \ information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_listActiveEmployees
      parameters:
      - description: Optional field name to sort by. This defaults to firstName.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeesProfiles'
          description: Employee profiles
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Read the public profile section of all active employees.
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--profiles
      x-accepts: application/json
  /avatars:
    get:
      description: Returns the avatar image URL of the employee.
      operationId: People_getEmailAvatar
      parameters:
      - description: Employee email.
        explode: true
        in: query
        name: email
        required: false
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content: {}
          description: URL of the emloyee avatar.
      security:
      - Basic: []
      summary: Read avatar for an employee email
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--avatars
      x-accepts: application/json
  /avatars/{employeeId}:
    get:
      description: Returns the avatar image URL of the employee.
      operationId: People_getAvatarUrl
      parameters:
      - description: employee id
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: URL of the emloyee avatar.
      security:
      - Basic: []
      summary: Read avatar for an employee ID.
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--avatars-employeeId
      x-accepts: application/json
    put:
      description: Upload an employee's Avatar by providing a URL to the image to
        upload.<br />
      operationId: People_uploadEmployeeAvatarUrl
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadAvatar'
        required: true
      responses:
        "200":
          content: {}
          description: Avatar Uploaded successfully
      security:
      - Basic: []
      summary: Upload employee's avatar by image url
      tags:
      - People
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--avatars-employeeId
      x-content-type: application/json
      x-accepts: application/json
  /my/avatar:
    get:
      description: Returns the avatar image URL of the logged-in user.<b>Supported
        user types:</b> Employee.
      operationId: People_getAvatarUrl
      responses:
        "200":
          content: {}
          description: URL of logged-in user avatar
      security:
      - Bearer: []
      summary: Read avatar for logged-in user
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--my-avatar
      x-accepts: application/json
  /tasks:
    get:
      operationId: Tasks_getOpenTasks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
          description: All open tasks for this company.
      security:
      - Basic: []
      summary: Read all open tasks.
      tags:
      - Tasks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tasks
      x-accepts: application/json
  /my/tasks:
    get:
      description: <b>Supported user types:</b> Employee.
      operationId: Tasks_getEmployeeTasks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
          description: The logged-in user's tasks.
      security:
      - Bearer: []
      summary: Read my tasks
      tags:
      - Tasks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--my-tasks
      x-accepts: application/json
  /tasks/people/{id}:
    get:
      operationId: Tasks_readEmployeeTasks
      parameters:
      - description: employee id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: filter tasks by open / closed status. Not sending task_status
          will return all tasks.
        explode: true
        in: query
        name: task_status
        required: false
        schema:
          enum:
          - open
          - closed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
          description: All of a specific employee's open tasks.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: 'Read tasks of a specific employee '
      tags:
      - Tasks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tasks-people-id
      x-accepts: application/json
  /tasks/{taskId}/complete:
    post:
      operationId: Tasks_completeTask
      parameters:
      - description: task id
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
          description: Marks a task as complete.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Mark a task as complete
      tags:
      - Tasks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--tasks-taskId-complete
      x-accepts: application/json
  /people/{id}/email:
    put:
      description: Change an employee's email address. If you cannot change the self
        email an invitation will be sent to the new address to verify the email if
        the employee is invited/active.<br />
      operationId: People_updateEmail
      parameters:
      - description: employee id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeEmail'
        required: true
      responses:
        "200":
          content: {}
          description: Invitation sent successfully.
      security:
      - Basic: []
      summary: Update an employee's email address.
      tags:
      - People
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--people-id-email
      x-content-type: application/json
      x-accepts: application/json
  /company/named-lists:
    get:
      operationId: Metadata_getCompanyNamedLists
      parameters:
      - description: Whether to include archived items in the response.
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--company-named-lists-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lists'
          description: Successful response
      security:
      - Basic: []
      summary: Get all company lists
      tags:
      - Metadata
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-named-lists
      x-accepts: application/json
  /company/named-lists/{listName}:
    get:
      operationId: Metadata_getNamedList
      parameters:
      - description: The internal name of the list.
        explode: false
        in: path
        name: listName
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include archived items in the response.
        explode: true
        in: query
        name: includeArchived
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--company-named-lists-listName-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
          description: Successful response. Please note that the item ID may be textual
            or numeric depending on the list type.
        "404":
          content: {}
          description: If the list was not found.
      security:
      - Basic: []
      summary: Get a specific company list by name.
      tags:
      - Metadata
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-named-lists-listName
      x-accepts: application/json
    post:
      operationId: Metadata_addNewItemToNamedList
      parameters:
      - description: The internal name of the list.
        explode: false
        in: path
        name: listName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewListItem'
        description: "The <b>parentId</b> attribute is optional and only applies to\
          \ hierarchy lists. When <b>parentId</b> is specified, the newly created\
          \ list item will be placed under the specific hierarchy parent node."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatListItemId'
          description: A new item is created. Please note that the ID of the newly
            created item may be textual or numeric depending on the list type.
        "404":
          content: {}
          description: If the list was not found.
        "409":
          content: {}
          description: If the added item already exists
      security:
      - Basic: []
      summary: Add a new item to an existing list.
      tags:
      - Metadata
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--company-named-lists-listName
      x-content-type: application/json
      x-accepts: application/json
  /company/named-lists/{listName}/{itemId}:
    delete:
      operationId: Metadata_deleteItemFromCompanyNamedList
      parameters:
      - description: The internal name of the list.
        explode: false
        in: path
        name: listName
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the list item.
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: The list item was deleted successfully.
        "404":
          content: {}
          description: If the list or item was not found
      security:
      - Basic: []
      summary: Delete an item from an existing list.
      tags:
      - Metadata
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--company-named-lists-listName-itemId
      x-accepts: application/json
    put:
      operationId: Metadata_updateItemFromNamedList
      parameters:
      - description: The internal name of the list.
        explode: false
        in: path
        name: listName
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the list item.
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListItemRequest'
        description: "You need to provide at least one of: <b>name</b> or <b>parentId</b>.\
          \ Providing a name will rename the list item value. Providing the parent\
          \ ID will move the hierarchy list item (together with its children) under\
          \ the indicated parent node."
        required: true
      responses:
        "200":
          content: {}
          description: List item was updated successfully.
        "404":
          content: {}
          description: If the list or item was not found.
      security:
      - Basic: []
      summary: Update an existing item from a list.
      tags:
      - Metadata
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--company-named-lists-listName-itemId
      x-content-type: application/json
      x-accepts: application/json
  /company/people/fields:
    get:
      operationId: Metadata_getCompanyFields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fields'
          description: Successful response.
      security:
      - Basic: []
      summary: Get all company fields.
      tags:
      - Metadata
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-people-fields
      x-accepts: application/json
    post:
      operationId: Metadata_addNewField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFieldRequest'
        description: The field to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldId'
          description: The new field was successfully created. The ID of the field
            is returned.
        "400":
          content: {}
          description: "If the category of the field is root, or historical is set\
            \ to true, but the category doesn't allow it, or if the field type is\
            \ not supported."
        "404":
          content: {}
          description: If the category of the field doesn't exist
      security:
      - Basic: []
      summary: Create a new field.
      tags:
      - Metadata
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--company-people-fields
      x-content-type: application/json
      x-accepts: application/json
  /company/people/fields/{fieldId}:
    delete:
      operationId: Metadata_deleteField
      parameters:
      - description: The ID of the field.
        explode: false
        in: path
        name: fieldId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: The field was deleted successfully.
        "400":
          content: {}
          description: If the field is a Bob default field.
        "404":
          content: {}
          description: If the field doesn't exist
      security:
      - Basic: []
      summary: Delete an existing field.
      tags:
      - Metadata
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--company-people-fields-fieldId
      x-accepts: application/json
    put:
      operationId: Metadata_updateField
      parameters:
      - description: The ID of the field.
        explode: false
        in: path
        name: fieldId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFieldRequest'
        description: The new name and/or description of the updated field.
        required: true
      responses:
        "200":
          content: {}
          description: The field was updated successfully.
        "404":
          content: {}
          description: If the field doesn't exist.
      security:
      - Basic: []
      summary: Update an existing field
      tags:
      - Metadata
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--company-people-fields-fieldId
      x-content-type: application/json
      x-accepts: application/json
  /timeoff/employees/{id}/requests:
    post:
      description: Submits a new timeoff request.<br />
      operationId: TimeOff_submitNewRequest
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTimeoffRequest'
        required: true
      responses:
        "200":
          content: {}
          description: Successfully submitted
      security:
      - Basic: []
      summary: Submit a new time off request.
      tags:
      - Time off
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--timeoff-employees-id-requests
      x-content-type: application/json
      x-accepts: application/json
  /timeoff/employees/{id}/diffHours/requests:
    post:
      description: "Submits a new timeoff request of different hours per day.<br /><b>Supported\
        \ user types:</b> Employee, Service."
      operationId: TimeOff_submitNewRequestDiffHours
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTimeoffRequestDiffHours'
        required: true
      responses:
        "200":
          content: {}
          description: Successfully submitted
      security:
      - Basic: []
      - Bearer: []
      summary: Submit a new time off request of different hours per day.
      tags:
      - Time off
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--timeoff-employees-id-diffHours-requests
      x-content-type: application/json
      x-accepts: application/json
  /timeoff/employees/{id}/requests/{requestId}:
    delete:
      description: Cancels an existing time off request.<br />
      operationId: TimeOff_cancelRequest
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Request ID.
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content: {}
          description: Successfully canceled
      security:
      - Basic: []
      summary: Cancel an existing timeoff request
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--timeoff-employees-id-requests-requestId
      x-accepts: application/json
    get:
      description: Supplies detailed info about an existing time off request.<br />
      operationId: TimeOff_getDetailsOfRequest
      parameters:
      - description: employee id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: request id
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffRequest'
          description: success
        "404":
          content: {}
          description: A request with the specified ID is not found for the specified
            employee.
      security:
      - Basic: []
      summary: Get the details of an existing timeoff request.
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-employees-id-requests-requestId
      x-accepts: application/json
  /timeoff/requests/changes:
    get:
      description: "Returns the list of time off requests that are pending, approved\
        \ or canceled since the specified date.<br />"
      operationId: TimeOff_getNewDeletedRequestsSinceDate
      parameters:
      - description: "Timestamp starting from which to return the changes. Should\
          \ be in ISO-8601 format, e.g. 2050-04-05T14:30:24.345Z or 2050-04-05T12:30-02:00."
        explode: true
        in: query
        name: since
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: Optional parameter. Indicates whether to include pending requests
          in the results.
        explode: true
        in: query
        name: includePending
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--timeoff-requests-changes-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffChanges'
          description: List of changes
      security:
      - Basic: []
      summary: Get all new/deleted time off requests since the specified date.
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-requests-changes
      x-accepts: application/json
  /timeoff/whosout:
    get:
      description: Returns time off information for a given date range.<br /><b>Supported
        user types:</b> Service.
      operationId: TimeOff_getWhosOut
      parameters:
      - description: Start period date
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: End period date
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: Include Hourly Requests
        explode: true
        in: query
        name: includeHourly
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--timeoff-whosout-get-parameters-2-schema
        style: form
      - description: "Show the policy type's name instead of the policy's custom public\
          \ name if the user has permission to view it, and the policy's custom public\
          \ name exists."
        explode: true
        in: query
        name: includePrivate
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--timeoff-whosout-get-parameters-3-schema
        style: form
      - description: Include Pending Requests
        explode: true
        in: query
        name: includePending
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--timeoff-whosout-get-parameters-4-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requests'
          description: Time off requests as seen by the logged in user for a given
            date range.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Read a list of who's out of the office.
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-whosout
      x-accepts: application/json
  /timeoff/outtoday:
    get:
      description: Returns the list of people that have a time off request today or
        on the specified date.<br />
      operationId: TimeOff_getOutOfOffice
      parameters:
      - description: "Date to report out of the office. If not specified, the date\
          \ at UTC at the time of the request is used."
        explode: true
        in: query
        name: today
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Include Hourly Requests
        explode: true
        in: query
        name: includeHourly
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--timeoff-outtoday-get-parameters-1-schema
        style: form
      - description: "Show the policy type's name instead of the policy's custom public\
          \ name if the user has permission to view it, and the policy's custom public\
          \ name exists."
        explode: true
        in: query
        name: includePrivate
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--timeoff-outtoday-get-parameters-2-schema
        style: form
      - description: The employee's site ID
        explode: true
        in: query
        name: siteId
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutTodays'
          description: "The list of people who have taken time off, as seen by the\
            \ logged in user."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Read a list of who's out of the office today or on the specified date.
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-outtoday
      x-accepts: application/json
  /timeoff/policy-types/{policyType}/reason-codes:
    get:
      description: Get list of reason codes for a given policy type.<br />
      operationId: TimeOff_listReasonCodes
      parameters:
      - description: Policy Type name.
        explode: false
        in: path
        name: policyType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonCodes'
          description: List of reason codes.
        "404":
          content: {}
          description: A policy type with the specified name was not found.
      security:
      - Basic: []
      summary: Get Policy type reason codes
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-policy-types-policyType-reason-codes
      x-accepts: application/json
    post:
      description: Add a list of reason codes for a given policy type.<br /><b>Supported
        user types:</b> Service.
      operationId: TimeOff_addReasonCodes
      parameters:
      - description: Policy Type name
        explode: false
        in: path
        name: policyType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonCodesNames'
        required: true
      responses:
        "200":
          content: {}
          description: Submitted successfully.
        "404":
          content: {}
          description: A policy type with the specified name was not found.
      security:
      - Basic: []
      summary: Add a list of reason codes for a given policy type.
      tags:
      - Time off
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--timeoff-policy-types-policyType-reason-codes
      x-content-type: application/json
      x-accepts: application/json
  /timeoff/policy-types/{policyType}:
    get:
      description: Get details about a given policy type.<br />
      operationId: TimeOff_getPolicyDetails
      parameters:
      - description: Policy Type name
        explode: false
        in: path
        name: policyType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyType'
          description: Policy type
        "404":
          content: {}
          description: A policy type with the specified name was not found.
      security:
      - Basic: []
      summary: Get Policy type details
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-policy-types-policyType
      x-accepts: application/json
  /timeoff/policy-types:
    get:
      description: Get a list of all policy type names.<br />
      operationId: TimeOff_listPolicyTypesNames
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyTypes'
          description: List of policy types names.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Get all policy types names.
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-policy-types
      x-accepts: application/json
  /timeoff/policies:
    get:
      description: Get details about a given policy.<br />
      operationId: TimeOff_getPolicyDetails
      parameters:
      - description: Policy name.
        explode: true
        in: query
        name: policyName
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Policy
        "404":
          content: {}
          description: A policy with the specified name was not found.
      security:
      - Basic: []
      summary: Get Policy details.
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-policies
      x-accepts: application/json
  /timeoff/policies/names:
    get:
      description: Get a list of policy names for the user's defined policy type.<br
        />
      operationId: TimeOff_listPolicyTypeNames
      parameters:
      - description: Policy type name.
        explode: true
        in: query
        name: policyTypeName
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyNames'
          description: A list of policy names.
      security:
      - Basic: []
      summary: Get a list of policy names for a given policy type.
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-policies-names
      x-accepts: application/json
  /timeoff/employees/{id}/balance:
    get:
      description: "Retrieve the balance for a given employee, for a given policy\
        \ type, as of a given date.<br />"
      operationId: TimeOff_getEmployeeBalance
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Policy type name.
        explode: true
        in: query
        name: policyType
        required: true
        schema:
          type: string
        style: form
      - description: Point in time.
        explode: true
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResult'
          description: Balance result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Get the balance for a given employee
      tags:
      - Time off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--timeoff-employees-id-balance
      x-accepts: application/json
  /timeoff/employees/{id}/adjustments:
    post:
      description: Create a balance adjustment for a given employee for a given effective
        date.<br />
      operationId: TimeOff_createBalanceAdjustment
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustmentRequest'
        required: true
      responses:
        "200":
          content: {}
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Create a balance adjustment.
      tags:
      - Time off
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--timeoff-employees-id-adjustments
      x-content-type: application/json
      x-accepts: application/json
  /attendance/import/{importMethod}:
    post:
      operationId: Attendance_importData
      parameters:
      - description: "Indicates if the provided data should be processed via an aggregation\
          \ engine or immediately. <ul>Aggregate - will add the logs to a temporary\
          \ location, and an aggregation job will process the data asynchronously.</ul><ul>Immediate\
          \ - will insert the records as-is.</ul>"
        explode: false
        in: path
        name: importMethod
        required: true
        schema:
          enum:
          - aggregate
          - immediate
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportAttendanceData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportAttendanceResponse'
          description: Records imported
        "400":
          content: {}
          description: "Bad request, see error description."
        "403":
          content: {}
          description: Forbidden. Authorization is implemented using a service user
            with attendance management permissions.
      security:
      - Basic: []
      summary: Import attendance data
      tags:
      - Attendance
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--attendance-import-importMethod
      x-content-type: application/json
      x-accepts: application/json
  /payroll/history:
    get:
      operationId: Payroll_readHistory
      parameters:
      - description: filter payroll for specific department.
        explode: true
        in: query
        name: department
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include inactive employees in the response.
        explode: true
        in: query
        name: showInactive
        required: false
        schema:
          format: boolean
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
          description: Payroll data.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Read payroll history.
      tags:
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--payroll-history
      x-accepts: application/json
  /docs/people/{id}/shared:
    post:
      operationId: Documents_uploadToSharedFolder
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDocument'
        description: Document to upload.
        required: true
      responses:
        "200":
          content: {}
          description: Upload success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Upload a document to the employee's shared folder
      tags:
      - Documents
      x-codegen-request-body-name: document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--docs-people-id-shared
      x-content-type: application/json
      x-accepts: application/json
  /docs/people/{id}/confidential:
    post:
      operationId: Documents_uploadToConfidentialFolder
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDocument'
        description: Document to upload.
        required: true
      responses:
        "200":
          content: {}
          description: Upload success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Upload a document to the employee's confidential folder
      tags:
      - Documents
      x-codegen-request-body-name: document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--docs-people-id-confidential
      x-content-type: application/json
      x-accepts: application/json
  /docs/people/{id}/shared/upload:
    post:
      operationId: Documents_uploadToSharedFolder
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentsUploadToSharedFolderRequest'
        required: true
      responses:
        "200":
          content: {}
          description: Uploaded document ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Upload a file to the employee's shared folder.
      tags:
      - Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--docs-people-id-shared-upload
      x-content-type: multipart/form-data
      x-accepts: application/json
  /docs/people/{id}/confidential/upload:
    post:
      operationId: Documents_uploadConfidentialFile
      parameters:
      - description: employee id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentsUploadConfidentialFileRequest'
        required: true
      responses:
        "200":
          content: {}
          description: Uploaded document ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Upload a file to the employee's confidential folder.
      tags:
      - Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--docs-people-id-confidential-upload
      x-content-type: multipart/form-data
      x-accepts: application/json
  /docs/people/{id}/shared/{docId}:
    delete:
      operationId: Documents_removeEmployeeSharedDocument
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Document ID.
        explode: false
        in: path
        name: docId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: Delete success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Delete specific document from the employee's shared folder.
      tags:
      - Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--docs-people-id-shared-docId
      x-accepts: application/json
  /docs/people/{id}/confidential/{docId}:
    delete:
      operationId: Documents_deleteEmployeeConfidentialDoc
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Document ID.
        explode: false
        in: path
        name: docId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: Delete success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      security:
      - Basic: []
      summary: Delete a specific document from the employee's confidential folder.
      tags:
      - Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--docs-people-id-confidential-docId
      x-accepts: application/json
  /docs/people/{id}:
    get:
      description: Returns a list of documents and download links.<br />
      operationId: Documents_downloadLinks
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDocumentResponse'
          description: A list of the documents' names and download links.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      security:
      - Basic: []
      summary: Download employee's documents
      tags:
      - Documents
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--docs-people-id
      x-accepts: application/json
  /people/{id}/work:
    get:
      description: "Returns a list of work history entries for a given employee.<br\
        \ /><br><b>Note</b>: The values of the list fields represent the list item\
        \ ID and not the list item value. To obtain the corresponding list item value,\
        \ use the HiBob metadata API to determine the field list name. Then, use the\
        \ list item ID to locate the list item value. For more information, see <a\
        \ href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_getWorkHistory
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkEntries'
          description: List of work history entries.
      security:
      - Basic: []
      summary: List employee's work history
      tags:
      - People
      - Tables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people-id-work
      x-accepts: application/json
    post:
      description: "<br><br><b>Note</b>: The values of the list fields represent the\
        \ list item ID and not the list item value. To obtain the corresponding list\
        \ item value, use the HiBob metadata API to determine the field list name.\
        \ Then, use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_createWorkEntry
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkEntry'
        description: Work entry to add. This must not conflict with another entry
          on the same effective date.
        required: true
      responses:
        "200":
          content: {}
          description: Entry created successfully
      security:
      - Basic: []
      summary: Creates a new work entry for a given employee.
      tags:
      - People
      - Tables
      x-codegen-request-body-name: entry
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /people/{id}/work/{entry_id}:
    delete:
      operationId: People_deleteWorkEntry
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The entry ID to delete
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content: {}
          description: Entry deleted successfully
      security:
      - Basic: []
      summary: Deletes a work entry from a given employee's work history.
      tags:
      - People
      - Tables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--people-id-work-entry_id
      x-accepts: application/json
    put:
      description: "<br><br><b>Note</b>: The values of the list fields represent the\
        \ list item ID and not the list item value. To obtain the corresponding list\
        \ item value, use the HiBob metadata API to determine the field list name.\
        \ Then, use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_updateWorkEntry
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The entry ID to update.
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkEntry'
        required: true
      responses:
        "200":
          content: {}
          description: Entry updated successfully.
        "404":
          content: {}
          description: Requested entry not found. Nothing was changed
      security:
      - Basic: []
      summary: Updates a work entry from employee's work history
      tags:
      - People
      - Tables
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /people/{id}/employment:
    get:
      description: "<b>Note:</b> Changes to this API are planned to take effect on\
        \ May 31, 2024.  Make sure to review all of the details in the <a href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working\
        \ pattern API Changes</a>  article in the help center.<br> <br>Returns a list\
        \ of employment history entries for a given employee.<br /><br><br><b>Note</b>:\
        \ The values of the list fields represent the list item ID and not the list\
        \ item value. To obtain the corresponding list item value, use the HiBob metadata\
        \ API to determine the field list name. Then, use the list item ID to locate\
        \ the list item value. For more information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_getEmploymentHistory
      parameters:
      - description: employee id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentEntries'
          description: List of employment history entries.
      security:
      - Basic: []
      summary: List employee's employment history.
      tags:
      - People
      - Tables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people-id-employment
      x-accepts: application/json
    post:
      description: "<br><br><b>Note</b>: The values of the list fields represent the\
        \ list item ID and not the list item value. To obtain the corresponding list\
        \ item value, use the HiBob metadata API to determine the field list name.\
        \ Then, use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_createEmploymentEntry
      parameters:
      - description: employee id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentEntry'
        description: Employment entry to add. This must not conflict with another
          entry on the same effective date.
        required: true
      responses:
        "200":
          content: {}
          description: Entry created successfully
      security:
      - Basic: []
      summary: Creates a new employment entry for a given employee.
      tags:
      - People
      - Tables
      x-codegen-request-body-name: entry
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /people/{id}/employment/{entry_id}:
    delete:
      operationId: People_deleteEmploymentEntry
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The entry ID to delete.
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content: {}
          description: Entry deleted successfully.
      security:
      - Basic: []
      summary: Deletes an employment entry from a given employee's employment history.
      tags:
      - People
      - Tables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--people-id-employment-entry_id
      x-accepts: application/json
    put:
      description: "<br><b>Note</b>: The values of the list fields represent the list\
        \ item ID and not the list item value. To obtain the corresponding list item\
        \ value, use the HiBob metadata API to determine the field list name. Then,\
        \ use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_updateEmploymentEntry
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The entry ID to update.
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentEntry'
        required: true
      responses:
        "200":
          content: {}
          description: Entry updated successfully
      security:
      - Basic: []
      summary: Updates an employment entry from a given employee's employment history.
      tags:
      - People
      - Tables
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /people/{id}/lifecycle:
    get:
      description: "Returns a list of life-cycle history entries for a given employee.<br\
        \ /><br><br><b>Note</b>: TThe values of the list fields represent the list\
        \ item ID and not the list item value. To obtain the corresponding list item\
        \ value, use the HiBob metadata API to determine the field list name. Then,\
        \ use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_listEmployeeLifecycle
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifeCycleEntries'
          description: List of life-cycle history entries.
      security:
      - Basic: []
      summary: List employee's life-cycle status history.
      tags:
      - People
      - Tables
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people-id-lifecycle
      x-accepts: application/json
  /people/{id}/salaries:
    get:
      description: "Returns a list of salary history entries for a given employee.<br\
        \ /><br><br><b>Note</b>: The values of the list fields represent the list\
        \ item ID and not the list item value. To obtain the corresponding list item\
        \ value, use the HiBob metadata API to determine the field list name. Then,\
        \ use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_getSalaryHistory
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalaryEntries'
          description: List of salary entries.
      security:
      - Basic: []
      summary: List employee's salary history.
      tags:
      - People
      - Tables
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people-id-salaries
      x-accepts: application/json
    post:
      description: "<br><br><b>Note</b>: The values of the list fields represent the\
        \ list item ID and not the list item value. To obtain the corresponding list\
        \ item value, use the HiBob metadata API to determine the field list name.\
        \ Then, use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_createNewSalaryEntry
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalaryEntry'
        description: Salary entry to add. This must not conflict with another entry
          on the same effective date.
        required: true
      responses:
        "200":
          content: {}
          description: Entry added successfully.
      security:
      - Basic: []
      summary: Creates a new salary entry for a given employee.
      tags:
      - People
      - Tables
      - Payroll
      x-codegen-request-body-name: entry
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /people/{id}/salaries/{entry_id}:
    delete:
      operationId: People_deleteSalaryEntry
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The entry ID to delete.
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content: {}
          description: Entry deleted successfully.
      security:
      - Basic: []
      summary: Deletes a salary entry from the employee's list.
      tags:
      - People
      - Tables
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--people-id-salaries-entry_id
      x-accepts: application/json
  /people/{id}/equities:
    get:
      description: "Returns a list of equity grants for a given employee.<br /><b>Supported\
        \ user types:</b> Service<br><br><b>Note</b>: The values of the list fields\
        \ represent the list item ID and not the list item value. To obtain the corresponding\
        \ list item value, use the HiBob metadata API to determine the field list\
        \ name. Then, use the list item ID to locate the list item value. For more\
        \ information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_listEquityGrants
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityEntries'
          description: List of salary equity grants.
      security:
      - Basic: []
      summary: List the employee's equity grants.
      tags:
      - People
      - Tables
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people-id-equities
      x-accepts: application/json
    post:
      description: "<br><br><b>Note</b>: The values of the list fields represent the\
        \ list item ID and not the list item value. To obtain the corresponding list\
        \ item value, use the HiBob metadata API to determine the field list name.\
        \ Then, use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_createEquityGrant
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquityEntry'
        description: Equity grant to add.
        required: true
      responses:
        "200":
          content: {}
          description: Entry added successfully.
      security:
      - Basic: []
      summary: Creates a new equity grant for a given employee.
      tags:
      - People
      - Tables
      - Payroll
      x-codegen-request-body-name: entry
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /people/{id}/equities/{entry_id}:
    delete:
      operationId: People_deleteEquityGrant
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The Entry ID to delete.
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content: {}
          description: Entry deleted successfully.
      security:
      - Basic: []
      summary: Deletes an equity grant for an employee.
      tags:
      - People
      - Tables
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--people-id-equities-entry_id
      x-accepts: application/json
    put:
      description: "<br><br><b>Note</b>: The values of the list fields represent the\
        \ list item ID and not the list item value. To obtain the corresponding list\
        \ item value, use the HiBob metadata API to determine the field list name.\
        \ Then, use the list item ID to locate the list item value. For more information,\
        \ see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>. - Basic: [] - Bearer: []"
      operationId: People_updateEquityGrantForEmployee
      parameters:
      - description: Employee ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The entry ID to update.
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquityEntry'
        required: true
      responses:
        "200":
          content: {}
          description: Entry updated successfully.
      security:
      - Basic: []
      summary: Updates an equity grant for an employee
      tags:
      - People
      - Tables
      - Payroll
      x-codegen-request-body-name: body
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /people/{id}/variable:
    get:
      description: "Returns a list of variable payments for a given employee.<br /><br><b>Note</b>:\
        \ The values of the list fields represent the list item ID and not the list\
        \ item value. To obtain the corresponding list item value, use the HiBob metadata\
        \ API to determine the field list name. Then, use the list item ID to locate\
        \ the list item value. For more information, see <a href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How\
        \ to work with lists Public API</a>."
      operationId: People_listVariablePayments
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableEntries'
          description: List of variable payments.
      security:
      - Basic: []
      summary: List employee's variable payments
      tags:
      - People
      - Tables
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--people-id-variable
      x-accepts: application/json
    post:
[...]
